<a href="https://colab.research.google.com/github/sashaarlinskaya/Osnovy_Programming/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_01.

# Выполнил: Арлинская Александра Викторовна
# Группа: ФДЭУ-221
# E-mail: arlinskayasasha@gmail.com

№ 4.2.1

Рассчитать значение f при заданном значении вещественного числа x:
![image.png]()
При выводе на экран оставьте 2 знака после запятой.

In [ ]:
x = float(input())

if x >= 0:
    f= (x**(1/2))+(x**2)
else:
    f = 1 / x

print('Результат:', round(f, 2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

№ 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
a1 = int(input("Введите первое число "))
a2 = int(input("Введите второе число "))
if a1 > a2:
     print("Максимум: ", a1, ", минимум: ", a2)
else:
    print("Максимум: ", a2, ", минимум: ", a1)

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

№ 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
a =int(input("Ширина форточки: ")) 
b =int(input("Высота форточки: ")) 
d =int(input("Диаметр головы: ")) 


if ((a or b or d) < 0):
  print('Проверьте ввод')
  
  fix =1
else:
    if ((a-1>=d) and (b-1>=d)):
      print("Да")
    else:
      print("Нет")

    

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
year_today =int(input("Введите текущий год: "))
month_today =int(input("Введите текущий месяц: "))

year =int(input("Введите год рождения: "))
month =int(input("Введите месяц рождения: "))

age =year_today - year

if month>month_today:
  print("Число полных лет: ", age-1)
else:
  print("Число полных лет: ", age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
x =int(input("Введите координату х: "))
y =int(input("Введите координату у: "))

if (x>0 and y>0):
    print("1-я четверть")
elif (x<0 and y>0):
  print("2-я четверть")
elif (x<0 and y<0):
  print("3-я четверть")
elif (x>0 and y<0):
  print("4-я четверть")



# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
a =float(input("Введите значение а: "))
b =float(input("Введите значение b: "))
c =float(input("Введите значение c: "))

d =((b**2) - (4*a*c))
if d<0:
  print("Решений нет")
elif d>0:
  x1=(((-1*b))+(d**(1/2)))/2*a
  x2=(((-1*b))-(d**(1/2)))/2*a
  print("x1 = ", round(x1, 1), "x2 = ", round(x2, 1))
elif d==0:
  x=(-1*b)/2*a
  print("x = ", round(x, 1))


# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:

nums_count = 0  

x =int(input())
nums_sum = 0  
while x != 0:
    nums_count = nums_count+1
    nums_sum += x
    x =int(input())
print("Cумма = ", nums_sum)
print("Количество = ", nums_count)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n =int(input("n= "))
z = 0
print('0')

while z<=n:
    z = z+5
    if z<=n:
      print(z)
    else:
      break
     
      


# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

![image.png]()

In [ ]:
a =float(input("a= "))

n = 1
x_sum = 0.00
while x_sum <=a:
  x_sum += 1 / n
  n += 1
print(n-1)



# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n =int(input("n= "))
print("Cумма = ", n_sum)

n_count =[]
while n>10:
  g=n%10
  n_count.append(g)
  n=n-g
  n=n/10
n_count.append(n)
print("Количество= ", len(n_count))

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
start = int(input("start= ")) 
k = int(input("k= ")) 
s = int(input("s= ")) 

need = list()

while start%s!=0: 
    start += 1
else:
    for i in range(99):
        start += 1
        while start%s!=0:
            start += 1
        else:
            if start%10==k:
                need.append(start)

print(need[:10])

# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
a =int(input("a= "))
b =int(input("b= "))
need_1 =(range(a,b+1,1))
print(need_1)
need_1.reverse()
print("\n".join(map(str, need_1)))
# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

№ 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

сумму всех целых чисел от a до b;

произведение всех целых чисел от a до b;

среднее арифметическое всех целых чисел от a до b;

среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))
name=[]
if (a>b):
  print("Не соответствует условию задачи")
else:
  while (a<=b):
    name.append(a)
    a=a+1
  sum_name=sum(name)
  print("Сумма" , sum_name)
  name_mult=1
  a=0
  while a<(len(name)):
    name_mult=name_mult*name[a]
    a=a+1
  name_medium=sum_name/len(name)
  print("Среднее арифмиетическое" , name_medium)
  print("Произведение" , name_mult)
  b = 0
  k = 0
  name_geom = 1
  while b<len(name):
    if name[b]%2==1:
        name_geom = name_geom*name[b]
        b = b + 2
        k = k + 1
    else:
        b = b + 1
  
  name_geom = round((name_geom**(1/k)),2)
  print("Среднее геометрическое нечетных чисел = ", name_geom)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
s=float(input("введите длину пробега лыжника "))
p=float(input("введите % увеличения пробега "))
name=[]
a=1
while a<=10:
  name.append(s)
  s = s*(1+(p/100))
  s=round(s,1)
  a=a+1
print("пробег за каждый день" , name)
name_sum=round(sum(name),1)
print("Суммарный пробег:" , name_sum)

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
n=float(input("введите массу 1-го предмета "))
p=float(input("введите грузоподъёмность грузовика "))
name=[n]
if n<=0:
  print("ошибка")
else:
  while (n!=0):
    n=float(input("введите массу другого предмета, для прекращения ввода введите 0 "))
    name.append(n)
  sum_name=sum(name)
  if(sum_name<=p):
    print("Да,возможна")
  else:
    
    print("Нет, невозможна")


# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input('Введите количество районов: '))
name=[]
for i in range(n):
  a = float(input("введите площадь района (га) "))
  b = float(input("введите урожайность в районе (ц/га.) ")) 
  f = a*b
  name.append(f)
print(round(sum(name), 1))
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

№ 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break. № 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_count = 0
nums_sum = 0
x=int(input("введите 1-е число: "))
while (x!=0):
  nums_count = nums_count+1
  nums_sum=nums_sum+x
  x=int(input("введите новoе число: "))
  if (x==0):
    break
print ("Сумма= ", nums_sum)
print ("Количество= ", nums_count)
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

№ 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [ ]:
sentence = input("введите предложение")
gl = 0  
sogl = 0  
b=0
for x in sentence: 
    a = x.lower()
    if a == "а" or a == "я" or a == "у" or a == "ю" or a == "о" or a == "е" or a == "ё" or a == "э" or a == "и" or a == "ы":
        gl = gl +1
    elif  (a==" ") :
      b=b+0
    else:
      sogl=sogl+1
print("Гласных" , gl , "Согласных" , sogl)

# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
a=int(input("введите первое число"))
b=int(input("введите второе число"))
c=int(input("введите число, котророму будут кратны все числа списка"))
name=[]
name_k=[]
if (a>b):
  while (b<=a):
    name.append(b)
    b=b+1
else:
  while (a<=b):
    name.append(a)
    a=a+1
for i in name:
  if (i%c==0):
    name_k.append(i)
print(name_k)
# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
n=int(input("введите целое число от 0 до 27"))
name=[]
for x in range(100,1000):
  a=(x//100)
  b=((x%100)//10)
  c=(x%10)
  sum=(a+b+c)
  if (sum==n):
    name.append(x)
print(name)
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

№ 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n=int(input("введите количество учеников в классе"))
name=[]
boys=[]
girls=[]
for x in range(n):
  x=float(input("введите рост ученика(если это мальчик, то поставьте перед числом -"))
  name.append(x)
for x in name:
  if (x<0):
    boys.append(x)
  else:
    girls.append(x)
medium_boys=(sum(boys)/len(boys))*(-1)
medium_girls=sum(girls)/len(girls)
print(medium_boys)
print(medium_girls)
# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0